window {
    margin: 0px;
    border: 2px solid rgba(203, 166, 247, 0.8); /* Mauve Alpha */
    background-color: rgba(30, 30, 46, 0.7);    /* Base Alpha (Transparente) */
    border-radius: 12px;
    font-family: "JetBrainsMono Nerd Font", "monospace";
}

#input {
    margin: 10px;
    border: none;
    color: #cdd6f4;
    background-color: rgba(49, 50, 68, 0.8); /* Surface0 */
    border-radius: 8px;
}

#inner-box {
    margin: 5px;
    background-color: transparent;
}

#outer-box {
    margin: 5px;
    background-color: transparent;
}

#text {
    margin: 5px;
    color: #cdd6f4;
}

#entry:selected {
    background-color: rgba(69, 71, 90, 0.5); /* Surface1 */
    border-radius: 8px;
}

#text:selected {
    color: #fab387; /* Peach */
}
