@import "mocha.css";

* {
    font-family: "JetBrains Mono Light", "Geist Mono", "MesloLGS NF";
    font-size: 13px;
    font-weight: 300;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: rgba(17, 17, 27, 0.7);
    color: @text;
    border-bottom: 1px solid rgba(250, 179, 135, 0.2);
}

/* ───────────── SEPARADOR ───────────── */
#custom-sep {
    color: @surface2;
    padding: 0 12px;
    font-size: 16px;
}

/* ───────────── WORKSPACES ───────────── */

/* base */
#workspaces button {
    padding: 0 8px;
    color: @subtext0;
    transition: all 0.2s ease;
	border-radius: 10%;
}

/* vazio */
#workspaces button.empty {
    color: rgba(69, 71, 90, 0.45);
}

/* 2️⃣ OCUPADO / INATIVO */
#workspaces button:not(.active):not(.persistent) {
    color: @subtext0;
}

/* ativo */
#workspaces button.active {
    color: @peach;
    background-color: rgba(250, 179, 135, 0.15);
    border-bottom: 2px solid @peach;
	padding: 0px 10px;
}

/* Home (workspace 11) nunca some totalmente */
#workspaces-home button.persistent {
    color: rgba(250, 179, 135, 0.35);
}

/* ───────────── JANELA ───────────── */
#window {
    color: @subtext1;
    margin-left: 10px;
    font-style: italic;
}

/* ───────────── MÓDULOS DIREITA ───────────── */
#network,
#pulseaudio,
#custom-audio-switcher,
#clock,
#cpu,
#memory,
#custom-power {
    padding: 0 12px;
    margin: 5px 3px;
    border-radius: 8px;
    background-color: rgba(205, 214, 244, 0.05);
}

#network,
#custom-audio-switcher,
#clock {
    color: @peach;
}

#pulseaudio {
    color: @maroon;
}

#custom-power {
    color: @red;
    background-color: rgba(243, 139, 168, 0.1);
    font-size: 15px;
    margin-right: 10px;
	padding-right: 15px;
}

#custom-home {
	margin-left: 10px;
	margin-right: 0px;

	padding: 0px 4px;
	border-radius: 10%;

    color: rgba(250, 179, 135, 0.6); 
    transition: all 0.3s ease;
}

#custom-home.active {
    color: #fab387; /* Exemplo de cor sólida */
    background-color: rgba(250, 179, 135, 0.15);
    border-bottom: 2px solid #fab387; /* Exemplo de cor sólida */

	padding-top: 4px;
	padding-left: 12px;
	padding-right: 16px;
}

#custom-home:hover {
    color: @peach;
}

