@import "theme.generated.css";

* {
    font-family: "SF Pro Text", "JetBrains Mono Light", "Geist Mono", "MesloLGS NF";
    font-size: 13px;
    font-weight: 400;
    border: none;
    border-radius: 0;
}

window#waybar {
    background-color: alpha(@crust, 0.7);
    color: @text;
    border-bottom: 1px solid alpha(@accent, 0.2);
}

/* ───────────── SEPARADOR ───────────── */
#custom-sep {
    color: @surface2;
    padding: 0 12px;
    font-size: 16px;
}

/* ───────────── WORKSPACES ───────────── */

/* base */
#workspaces button {
    padding: 0 8px;
    color: @subtext0;
    transition: all 0.2s ease;
	border-radius: 10%;
}

/* vazio */
#workspaces button.empty {
    color: alpha(@surface1, 0.45);
}

/* 2️⃣ OCUPADO / INATIVO */
#workspaces button:not(.active):not(.persistent) {
    color: @subtext0;
}

/* ativo */
#workspaces button.active {
    color: @accent;
    background-color: alpha(@accent, 0.15);
    border-bottom: 2px solid @accent;
	padding: 0px 10px;
}

/* Home (workspace 11) nunca some totalmente */
#workspaces-home button.persistent {
    color: alpha(@accent, 0.35);
}

/* ───────────── JANELA ───────────── */
#window {
    color: @subtext1;
    margin-left: 10px;
}

/* ───────────── MÓDULOS DIREITA ───────────── */
#network,
#pulseaudio,
#custom-audio-switcher,
#clock,
#cpu,
#memory,
#custom-power {
    padding: 0 12px;
    margin: 5px 3px;
    border-radius: 8px;
    background-color: alpha(@text, 0.05);
}

#network,
#custom-audio-switcher,
#clock {
    color: @accent;
}

#pulseaudio {
    color: @maroon;
}

#custom-audio-switcher{
	padding-right: 20px;
}

#custom-power {
    color: @red;
    background-color: alpha(@red, 0.1);
    font-size: 15px;
    margin-right: 10px;
	padding-right: 15px;
}

#custom-home {
	margin-left: 15px;
	margin-right: 0px;

	padding: 0px 4px;
	border-radius: 10%;

    color: alpha(@accent, 0.6);
    transition: all 0.3s ease;
}

#custom-home.active {
    color: @accent;
    background-color: alpha(@accent, 0.15);
    border-bottom: 2px solid @accent;

	padding-top: 4px;
	padding-left: 12px;
	padding-right: 12px;
}

#custom-home:hover {
    color: @accent;
}
