// Niri Configuration file
// Mirrors user's Hyprland setup

// Start Dank Material Shell natively
spawn-at-startup "dms" "run"
// Start other required services
spawn-at-startup "udiskie"
spawn-at-startup "swww-daemon"
spawn-at-startup "waypaper" "--restore"
spawn-at-startup "systemctl" "--user" "start" "vicinae"
prefer-no-csd

// workspace "browser"
// window-rule {
//     match app-id="zen-browser"
//
//     // Forces the window to open on your named workspace
//     open-on-workspace "browser"
//
//     // Sets the window to full screen upon opening
//  	open-maximized-to-edges true
// }
// workspace "terminal"
// window-rule {
//     match app-id="Alacritty"
//
//     // Forces the window to open on your named workspace
//     open-on-workspace "terminal"
//
//     // Sets the window to full screen upon opening
//  	open-maximized-to-edges true
// }

window-rule {
	geometry-corner-radius 8
	clip-to-geometry true
	draw-border-with-background false
}


input {
    keyboard {
        xkb {
            layout "br"
            variant "abnt2"
            model "abnt2"
        }
        repeat-delay 200
        repeat-rate 25
    }

    mouse {
        accel-speed -0.5
    }
}

layout {
    gaps 5
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }
    default-column-width { proportion 0.5; }

    focus-ring {
        width 2
        // active-color "#cba6f7"
		active-color "#fab387"
        inactive-color "#1e1e2e"
    }

    border {
        off
    }
}

animations {
    slowdown 0.8
}

binds {
    // Keys consist of modifiers separated by + signs, followed by an XKB key name
    // Mod is a special modifier that defaults to Super.
    Mod+B { spawn "zen-browser"; }
    Mod+T { spawn "alacritty"; }
    Mod+Return { spawn "vicinae" "toggle"; }
    Mod+Q { close-window; }
    Mod+M { quit; }
    Mod+E { spawn "thunar"; }
    Mod+V { toggle-window-floating; }
    Mod+F { maximize-window-to-edges; }
    Mod+Escape { spawn "hyprlock"; }
    Mod+S { spawn "sh" "-c" "~/.config/scripts/tmux-sessions.sh"; }
    Mod+Shift+T { spawn "sh" "-c" "~/.config/scripts/tmux-launcher.sh"; } //todo: arrumar isso aqui
    Mod+Shift+S { screenshot ; }
    Mod+Print { spawn "sh" "-c" "hyprshot -m active -m window -o ~/Pictures/screenshots"; }
	Mod+Tab { toggle-overview; }
	Mod+A{ spawn "~/.config/niri/scripts/toggle-audio.sh"; }
	// Mod+D { spawn "sh" "-c" "~/.config/hypr/scripts/toggle_special.sh"; }
    // Mod+Y { spawn "swaync-client" "-t" "-R" "-rs"; }
    // Mod+O { spawn "sh" "-c" "~/.config/scripts/launch-browser-obsidian.sh"; }

    // Focus bindings
    Mod+H { focus-column-left; }
    Mod+L { focus-column-right; }
    Mod+K { focus-workspace-up; }
    Mod+J { focus-workspace-down; }

    // Move bindings
    Mod+Shift+H { move-column-left; }
    Mod+Shift+L { move-column-right; }
    Mod+Shift+K { move-window-to-workspace-up; }
    Mod+Shift+J { move-window-to-workspace-down; }

	Mod+Control+H{ set-column-width "-3%"; }
	Mod+Control+L{ set-column-width "+3%"; }

	Mod+Control+Y{ set-column-width "34%"; }
	Mod+Control+U{ set-column-width "50%"; }
	Mod+Control+I{ set-column-width "66%"; }
	Mod+Control+O{ set-column-width "75%"; }
	Mod+Control+P{ set-column-width "100%"; }

    // Workspaces
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }

    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    Mod+Shift+0 { move-column-to-workspace 10; }

    Mod+WheelScrollDown      cooldown-ms=150 { focus-column-left; }
    Mod+WheelScrollUp        cooldown-ms=150 { focus-column-right; }

    // Audio & Brightness
    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "-l" "1" "@DEFAULT_AUDIO_SINK@" "5%+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "5%-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
    XF86MonBrightnessUp  allow-when-locked=true { spawn "brightnessctl" "-e4" "-n2" "set" "5%+"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "-e4" "-n2" "set" "5%-"; }

    XF86AudioPlay        { spawn "playerctl" "--player=spotify,%any" "play-pause"; }
    XF86AudioPause       { spawn "playerctl" "--player=spotify,%any" "play-pause"; }
    XF86AudioNext        { spawn "playerctl" "--player=spotify,%any" "next"; }
    XF86AudioPrev        { spawn "playerctl" "--player=spotify,%any" "previous"; }
}

output "DP-1" {
    mode "1920x1080@165"
}

include "dms/windowrules.kdl"
